div.form {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
div.form-half {
    width: 50%;
    display: flex;
    flex-direction: column;
}
div.form-half > div {
    padding-top: 10px;
    padding-bottom: 10px;
}
input {
    width: 90%;
}
button {
    width: max-content;
    margin: auto;
}
textarea {
    width: 90%;
    resize: none;
}