.user-page-navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-page-navigator.buttons-block {
    justify-content: flex-start;
}
.user-page-navigator.bottom {
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-left: -15px;
    z-index: 50;
    background: white;
}