.client-item.deleting {
    opacity: 0;
    transition: all 1s;
}

/*большая ширина*/
@media screen and (min-width:600px) {

}
/*маленькая ширина*/
@media screen and (max-width:600px) {
    .client-item {
        padding-left: unset !important;
        padding-right: unset !important;
    }
    .client-item.delete-button {
        right: 0;
    }
}

.client-item.slim {
    padding-left: unset !important;
    padding-right: unset !important;
}
.client-item.delete-button.slim {
    right: 0;
}