div#daysOff {
    width: max-content;
    padding: 4px
}
div#daysOff.pick {
    border: 1px solid #4db34b
}
div.buttons-block {
    padding: 10px;
}
div#user-button {
    width: max-content;
    padding: 4px;
}