.App {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: calc(100vh - 49px);
}
.content-block {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px 15px 10px;
}
.content-block::-webkit-scrollbar {
    display: none;
}

/*большая ширина*/
@media screen and (min-width:600px) {
}
/*маленькая ширина*/
@media screen and (max-width:600px) {
}
a {
    color: inherit;
    text-decoration: inherit;
}

.pulse {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    border-radius: 10px;
    transform: scale(1);
    animation: pulse-animation 5s infinite;
}

@keyframes pulse-animation {
    80% {
        transform: scale(1);
    }
    85% {
        transform: scale(1.25);
    }
    90% {
        transform: scale(1.125);
    }
    95% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}