.App {
    display: flex;
    flex-direction: column;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.content-block {
    padding: 10px 15px 10px;
}

/*большая ширина*/
@media screen and (min-width:720px) {

}
/*маленькая ширина*/
@media screen and (max-width:720px) {

}
.block.static {
    min-height: 49px;
    flex: 0 0 auto;
}
a {
    color: inherit;
    text-decoration: inherit;
}