div.action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-small;
}
button.action-button.pick {
    color: #4db34b;
}
button.action-button.red {
    color: #ff6c6c;
}
button.action-button:active {
    color: #4db34b;
}
button.action-button {
    color: #404040;
}