.actions-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actions-panel.buttons-block {
    justify-content: flex-start;
}
.actions-panel.bottom {
    position: -webkit-sticky;
    position: sticky;
    z-index: 500;
    bottom: 0;
    justify-content: space-around;
    width: 100%;
    box-shadow: 0 5px 0 white, 0 0 5px rgba(0,0,0,0.5);
    background: white;
    padding-bottom: env(safe-area-inset-bottom);
}